@import "tailwindcss";

@theme {
    /*Cores*/
    --color-primary: rgb(15 28 36);
    --color-secondary: rgb(34 49 58);
    --color-tertiary: rgb(65 90 119);
    --color-btn: rgb(201 179 126);
    
    /*Fontes*/
    --font-title: "Cormorant Garamond", serif;
    --font-body: "Montserrat", sans-serif;

    /*Radius*/
    --rounded-default: 10px;

    /*Images*/
    --background-image-maquiagem: url("../images/Maquiagem.jpg");
    --background-image-circo: url("../images/Circo.jpg");
    --background-image-flavia: url("../images/flavia.png");
    --background-image-mqm: url("../images/MQM.jpg");
}

@source "../../*.html";
@source "../js/**/*.js";
